{% extends 'base.html.twig' %}

{% block title %}
	Connexion
{% endblock %}

{% block body %}
	<form method="post">
		{% if error %}
			<div class="alert alert-danger">
				{{ error.message|trans(error.messageData, 'security') }}
			</div>
		{% endif %}

		{% if app.user %}
			<div class="mb-3">
				Vous êtes connecté en tant que
				{{ app.user.username }}
				,
				<a href="{{ path('app_logout') }}">
					Déconnexion
				</a>
			</div>
		{% endif %}

		<h1>
			Connexion
		</h1>
		<label for="inputEmail">
			Email
		</label>
		<input type="email" value="{{ last_username }}" placeholder="Entrez votre email" name="email" id="inputEmail" class="form-control" autocomplete="email" required autofocus>
		<label for="inputPassword">
			Password
		</label>
		<input type="password" name="password" placeholder="Entrez votre mot de pass" id="inputPassword" class="form-control" autocomplete="current-password" required/>

		<input
		type="hidden" name="_csrf_token" value="{{ csrf_token('authenticate') }}"/>

		{#
												            Uncomment this section and add a remember_me option below your firewall to activate remember me functionality.
												            See https://symfony.com/doc/current/security/remember_me.html
												    
												            <div class="checkbox mb-3">
												                <label>
												                    <input type="checkbox" name="_remember_me"> Remember me
												                </label>
												            </div>
												        #}

		<button class="mt-3 btn btn-success" type="submit">
			Connexion
		</button>
	</form>
{% endblock %}
