<div class="row">
	<div class="card border-primary mb-3">
		<div class="card-header d-flex justify-content-between align-items-center">
			<h4 class="m-0 font-weight-bold text-primary">
				Liste des commandes
			</h4>
		</div>
		<div class="card-body">
			<table id="purchaseTable" class="table table-striped table-bordered" style="width:100%">
				<thead>
					<tr>
						<th class="text-center text-uppercase">
							Commande n°
						</th>
						<th class="text-center text-uppercase">
							Date
						</th>
						<th class="text-center text-uppercase">
							User
						</th>
						<th class="text-center text-uppercase">
							Fullname
						</th>
						<th class="text-center text-uppercase">
							Status
						</th>
						<th class="text-center text-uppercase">
							Total
						</th>
						<th class="text-center text-uppercase action">
							Actions
						</th>

					</tr>
				</thead>
				<tbody>
					{% for purchase in purchases %}
						<tr>
							<td class="text-center align-middle">
								{{purchase.id}}
							</td>
							<td class="text-center align-middle">
								<span class="d-none">
									{{purchase.purchasedAt|date("Ymd")}}
								</span>
								{{purchase.purchasedAt|date("d/m/Y", "Europe/Paris")}}
							</td>
							<td class="text-center align-middle">
								{{purchase.user.fullName}}
							</td>
							<td class="text-center align-middle">
								{{purchase.fullName}}
							</td>
							<td class="text-center align-middle">
								{{purchase.status}}
							</td>
							<td class="text-center align-middle">
								{{purchase.total| amount}}
							</td>
							<td class="text-center align-middle">
								<a href="{{ path("admin_purchase_details", {id: purchase.id}) }}" class="btn btn-primary rounded with-icon">
									<i class="far fa-eye"></i>
								</a>

								<form class="d-inline-block confirmation" action="{{ url('admin_purchase_delete', { id: purchase.id }) }}" method="post">
									<input type="hidden" name="token" value="{{ csrf_token('delete-purchase') }}"/>
									<button class="btn btn-danger rounded with-icon" type="submit">
										<i class="far fa-trash-alt"></i>
									</button>
								</form>
							</td>
						</tr>
					{% endfor %}
				</tbody>
			</table>
		</div>
	</div>
</div>
