{% extends "base.html.twig" %}

{% block titlte %}
	Commande n°
	{{purchase.id}}
{% endblock %}

{% block body %}
	<h1>
		Commande n°
		{{purchase.id}}
	</h1>

	<table class="table">
		<thead>
			<tr>
				<th>
					Numéro de commande
				</th>
				<th>
					Adresse de livraison
				</th>
				<th>
					Date de commande
				</th>
				<th>
					Produits
				</th>
				<th>
					Total de la commande
				</th>
			</tr>
		</thead>
		<tbody>

			<tr>
				<td>
					{{purchase.id}}
				</td>
				<td>
					{{purchase.address}}
					<br>
					{{purchase.postalCode}}
					<br>
					{{purchase.city}}
				</td>
				<td>
					{{purchase.purchasedAt | date("d/m/Y H:i" )}}
				</td>
				<td>
					<ul>
						{% for item in purchase.purchaseItems %}
							<li>
								{{item.quantity}}
								x
								{{item.productName}}
								-
								{{item.productPrice  | amount}}

								(
								{{item.total  | amount }}
								)
							</li>
						{% endfor %}
					</ul>
				</td>
				<td>
					{{purchase.total  | amount}}

				</td>
			</tr>


		</tbody>
	</table>
{% endblock %}
