{% extends 'base.html.twig' %}

{% block title %}
	Création d'une catégorie
{% endblock %}

{% block body %}
	<h1>
		Création d'une catégorie
	</h1>

	<div class="row">
		{{form_start(formView)}}
		{{form_errors(formView)}}
		{{form_row(formView.name)}}
	</div>


	<button type="submit" class="btn btn-primary">
		<i class="fas fa-save">
			Créer la catégorie
		</i>
	</button>
	{{form_end(formView)}}
</div>{% endblock %}
