{% extends 'base.html.twig' %}

{% block title %}
	Edition d'une catégorie
{% endblock %}

{% block body %}
	<h1>
		Edition de la categorie
		{{category.name}}
	</h1>

	<div class="row">
		{{form_start(formView)}}
		{{form_errors(formView)}}
		{{form_row(formView.name)}}
	</div>


	<button type="submit" class="btn btn-primary">
		<i class="fas fa-save">
			Modifier la categorie
		</i>
	</button>
	{{form_end(formView)}}
</div>{% endblock %}
