{% extends "base.html.twig" %}

{% block title %}
	Dashbord admin
{% endblock %}

{% block javascripts %}
	{{ encore_entry_script_tags('adminDataTable') }}
	<script src="https://code.jquery.com/jquery-3.5.1.js"></script>
	<script src="https://cdn.datatables.net/1.11.3/js/jquery.dataTables.min.js"></script>
	<script src="https://cdn.datatables.net/1.11.3/js/dataTables.bootstrap4.min.js"></script>

{% endblock %}

{% block body %}
	{% include "admin/product/_product_datatable.html.twig" %}
	{% include "admin/category/_category_datatable.html.twig" %}
	{% include "admin/purchase/_purchase_datatable.html.twig" %}
{% endblock %}

{% block stylesheets %}
	{{parent()}}
	<link
	rel="stylesheet" href="https://cdn.datatables.net/1.11.3/css/dataTables.bootstrap4.min.css">
{# <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.5.2/css/bootstrap.css"> #}

{% endblock %}
