<div class="card mb-3">
	<img src={{product.mainPicture}} class="img-fluid" alt="image du produit">
	<div class="card-body">
		<H4 class="card-title">
			{{product.name}}
			(
			{{product.price | amount}}
			)
		</H4>
		<span class="badge bg-info">
			{{product.category.name}}
		</span>
		<p class="card-text">
			{{product.shortDescription}}
		</p>
		<a href="{{path('product_show', {'category_slug' : product.category.slug , 'slug' : product.slug})}}" class="btn btn-primary btn-sm">
			Détails
		</a>
		<a href="{{path('cart_add',{'id' : product.id})}}" class="btn btn-success btn-sm">
			Ajouter
		</a>
	</div>
</div>
