{% extends 'base.html.twig' %}

{% block title %}
{% endblock %}

{% block body %}
	<ol class="breadcrumb">
		<li class="breadcrumb-item">
			<a href="{{path('homepage')}}">
				Acceuil
			</a>
		</li>
		<li class="breadcrumb-item active">
			{{category.name}}
		</li>
	</ol>
	<H1>
		Catégorie :
		{{category.name}}
	</H1>
	<div class="row">
		{% for product in category.products %}
			<div class="col-3">
				{% include "product/_product_card.html.twig" %}
			</div>
		{% endfor %}
	</div>
{% endblock %}
