{% extends 'base.html.twig' %}


{% block title %}
	Création d'un produit
{% endblock %}
{% block body %}
	<H1>
		Nouveau produit
	</H1>

	{{form_start(formView)}}
	{{form_errors(formView)}}
	<div class="row">
		<div class="col">
			{{form_row(formView.name)}}
			{{form_row(formView.price)}}
			{{form_row(formView.mainPicture)}}
		</div>
		<div class="col">
			{{form_row(formView.shortDescription)}}
			{{form_row(formView.category)}}
		</div>
	</div>


	<button type="submit" class="btn btn-primary">
		<i class="fas fa-save">
			Créer le produit
		</i>
	</button>
	{{form_end(formView)}}
{% endblock %}

{# {% block form_row %}
	<div class="form-group">
		{{form_label(form)}}
		{{form_widget(form,{'attr':{'class':'form-control'} }) }}
		{{form_help(form)}}
		{{form_errors(form)}}
	</div>
{% endblock %} #}
