{% extends 'base.html.twig' %}


{% block title %}
	Edition d'un produit
{% endblock %}
{% block body %}
	<H1>
		Edition du produit :
		{{product.name}}
	</H1>

	{# Permet de rendre le formulaire en mode non valide pour les tests des constraintes par exemple {{form_start(formView, {'attr':{'novalidate': 'novalidate'}})}} #}

	{{form_start(formView)}}
	{{form_errors(formView)}}
	<div class="row">
		<div class="col">
			{{form_row(formView.name)}}
			{{form_row(formView.price)}}
			{{form_row(formView.mainPicture)}}
		</div>
		<div class="col">
			{{form_row(formView.shortDescription)}}
			{{form_row(formView.category)}}
		</div>
	</div>


	<button type="submit" class="btn btn-primary">
		<i class="fas fa-save">
			Modifier le produit
		</i>
	</button>
	{{form_end(formView)}}
{% endblock %}
