{% extends 'base.html.twig' %}

{% block title %}
	Page de
	{{product.name}}
{% endblock %}
{% block body %}
	<ol class="breadcrumb">
		<li class="breadcrumb-item">
			<a href="{{path('homepage')}}">
				Acceuil
			</a>
		</li>
		<li class="breadcrumb-item">
			<a href="{{ path('category_show',{'slug': product.category.slug}) }}">
				{{product.category.name}}
			</a>
		</li>
		<li class="breadcrumb-item active">
			{{product.name}}
		</li>
	</ol>
	<H1>
		{{product.name}}
		(
		{{product.price  | amount}}
		)
	</H1>
	<div class="row">
		<div class="col-4">
			<img src={{product.mainPicture}} alt="Image de {{product.name}}" class="img-fluid">
		</div>
		<div class="col">
			<span class="badge bg-primary">
				{{product.category.name}}
			</span>
			<p>
				{{product.shortDescription}}
			</p>
			<a href="{{path('cart_add',{'id' : product.id})}}" class="btn btn-success btn-lg">
				<i class="fas fa-shopping-cart"></i>
				Ajouter au panier
			</a>
		</div>
	</div>
{% endblock %}
