{% extends "base.html.twig" %}

{% block title %}
	Payer votre commande avec Stripe
{% endblock %}

{% block body %}
	<div class="banner d-flex align-items-center justify-content-center">
		<h3 class="text-center text-uppercase white">
			Payer la commande
		</h3>
	</div>

	<div class="container pt-2">
		<div class="row">
			<div class="row justify-content-around">

				<div class="col-md-7">
					<div class="card">
						<div class="card-body">
							<div class="d-flex justify-content-between">
								<div class="col-8 align-self-center">
									<h4 class="card-title">
										Paiement de votre commande (
										{{ purchase.total | amount }}
										)
									</h4>
								</div>
								<div class="col-4 d-flex justify-content-end">

									<img class="img-fluid" src="https://img.icons8.com/color/48/000000/visa.png"/>
									<img class="img-fluid" src="https://img.icons8.com/color/48/000000/mastercard.png"/>
									<img class="img-fluid" src="https://img.icons8.com/color/48/000000/card-security.png"/>

								</div>
							</div>
							<h6 class="card-subtitle mb-2 text-muted pb-2">
								Paiement sécurisé avec Stripe
							</h6>
							<ul class="card-subtitle mb-2 text-muted pb-4">
								<li class="text-success">
									Payment succeeds : 4242 4242 4242 4242
								</li>
								<li class="text-primary">
									Payment requires authentication : 4000 0025 0000 3155
								</li>
								<li class="text-danger">
									Payment is declined : 4000 0000 0000 9995
								</li>
							</ul>
							<form id="payment-form">
								<div id="card-element"></div>
								<div class="row pt-4">
									<button id="submit" class="btn btn-primary">
										<div class="spinner hidden" id="spinner"></div>
										<span id="button-text">
											Payer
										</span>
									</button>
								</div>
								<div class="row pt-2 text-danger">
									<p id="card-error" role="alert"></p>
								</div>
							</form>
						</div>
					</div>
				</div>

				<div class="col-md-5">
					<div class="card card-recap">
						<div class="card-header">
							<h5>
								Récapitulatif de commande
							</h5>
						</div>
						<div class="card-body">
							<p>
								Nombre de produits différents :
								{{purchase.purchaseItems|length}}
							</p>

							{% for purchaseItem in purchase.purchaseItems %}
								<div class="row item py-2">
									<div class="col-4 align-self-center">
										<img class="img-fluid" src="{{purchaseItem.product.mainPicture}}">
									</div>
									<div class="col-8">
										<div class="row" style="font-weight: 700">
											{{purchaseItem.productPrice | amount | trim(side='left') }}
										</div>
										<div class="row text-muted">
											{{purchaseItem.productName}}
										</div>
										<div class="row">
											Quantité :
											{{purchaseItem.quantity}}
											- Total : (
											{{purchaseItem.total| amount }}
											)
										</div>
									</div>
								</div>
							{% endfor %}
							<hr/>
							<div class="row align-items-center justify-content-center">
								<div class="col-4 align-self-center ">
									<i class="fas fa-shipping-fast fa-3x text-warning"></i>
								</div>
								<div class="col-8">
									<div class="row" style="font-weight: 700">
										{{purchase.fullName}}
									</div>
									<div class="row">
										{{purchase.address}}
									</div>
									<div class="row">
										{{purchase.postalCode}}
										-
										{{purchase.city}}
									</div>
								</div>
							</div>
						</div>
						<div class="card-footer">
							<p class="lead">
								Total :
								<span class="text-primary" style="font-weight: 700">
									{{ purchase.total | amount }}
								</span>
							</p>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>

{% endblock %}

{% block javascriptsEnd %}
	{{parent()}}
	<script src="https://js.stripe.com/v3/"></script>
	<script src="https://polyfill.io/v3/polyfill.min.js?version=3.52.1&features=fetch"></script>
	<script>
		const clientSecret = '{{ clientSecret }}'
const stripePublicKey = "{{ stripePublicKey }}"
const redirectAfterSuccessUrl = "{{ url('purchase_payment_success', {'id':purchase.id} ) }}"
	</script>
	{{ encore_entry_script_tags('payment') }}
{% endblock %}
