<div class="row">
	<div class="card bowarning mb-3">
		<div class="card-header d-flex justify-content-between align-items-center">
			<h4 class="m-0 font-weight-bold text-primary">
				Liste des catégories
			</h4>
			<a href="{{ path("admin_category_create") }}" class="btn btn-success btn-icon-split ml-auto btn-sl">
				<span class="icon text-white-50">
					<i class="fas fa-plus"></i>
				</span>
				<span class="text">
					Ajouter
				</span>
			</a>
		</div>
		<div class="card-body">
			<table id="categoryTable" class="table table-striped table-bordered" style="width:100%">
				<thead>
					<tr>
						<th class="text-center text-uppercase">
							ID
						</th>
						<th class="text-center text-uppercase">
							Name
						</th>
						<th class="text-center text-uppercase">
							slug
						</th>
						<th class="text-center text-uppercase">
							Nombre de produits associés
						</th>
						<th class="text-center text-uppercase">
							Propriétaire
						</th>
						<th class="text-center text-uppercase action">
							Actions
						</th>

					</tr>
				</thead>
				<tbody>
					{% for category in categories %}
						<tr>
							<td class="text-center align-middle">
								{{category.id}}
							</td>
							<td class="text-center align-middle">
								{{category.name}}
							</td>
							<td class="text-center align-middle">
								{{category.slug}}
							</td>
							<td class="text-center align-middle">
								{{category.products|length}}
							</td>
							<td class="text-center align-middle">
								{{ category.owner ? category.owner.fullName : "aucun" }}
							</td>
							<td class="text-center align-middle ">
								<a href="{{ path("category_show", {slug: category.slug}) }}" class="btn btn-primary rounded with-icon ">
									<i class="far fa-eye"></i>
								</a>
								{% if category.owner is defined and category.owner == app.user %}
									<a href="{{ path("admin_category_edit", {id: category.id}) }}" class="btn btn-warning rounded with-icon ">
										<i class="far fa-edit"></i>
									</a>

									<form class="d-inline-block confirmation" action="{{ url('admin_category_delete', { id: category.id }) }}" method="post">

										<input type="hidden" name="token" value="{{ csrf_token('delete-category') }}"/>

										<button class="btn btn-danger rounded with-icon " type="submit">
											<i class="far fa-trash-alt"></i>
										</button>

									</form>
								{% else %}
									<a class="btn btn-warning rounded with-icon disabled ">
										<i class="far fa-edit"></i>
									</a>
									<a class="btn btn-danger rounded with-icon disabled ">
										<i class="far fa-trash-alt"></i>
									</a>
								{% endif %}
							</td>
						</tr>
					{% endfor %}
				</tbody>
			</table>
		</div>
	</div>
</div>
