<h1>
	Commande n° :
	{{purchase.id}}
</h1>
<p>
	Merci à vous
	{{user.fullname}}
	!
</p>
<h2>
	Détails de la commande :
</h2>

<table class="table">
	<thead>
		<tr>
			<th>
				Numéro de commande
			</th>
			<th>
				Adresse de livraison
			</th>
			<th>
				Date de commande
			</th>
			<th>
				Produits
			</th>
		</tr>
	</thead>
	<tbody>
		<tr>
			<td>
				{{purchase.id}}
			</td>
			<td>
				{{purchase.address}}
				<br>
				{{purchase.postalCode}}
				<br>
				{{purchase.city}}
			</td>
			<td>
				{{purchase.purchasedAt | date("d/m/Y H:i" )}}
			</td>
			<td>
				<ul>
					{% for item in purchase.purchaseItems %}
						<li>
							{{item.quantity}}
							x
							{{item.productName}}
							-
							{{item.productPrice  | amount}}

							(
							{{item.total  | amount }}
							)
						</li>
					{% endfor %}
				</ul>
			</td>
		</tr>

	</tbody>
	<tfoot>
		<tr>
			<td colspan="4">
				Total de la commande :
			</td>
			<td>
				{{purchase.total / 100}}
				€
			</td>
		</tr>
	</tfoot>
</table>
