{% extends 'base.html.twig' %}

{% block body %}

	<h1>
		Nos produits
	</h1>
	<div class="row">
		{% for product in products %}
			<div class="col">
				{% include "product/_product_card.html.twig" %}
			</div>
		{% endfor %}
	</div>
	<hr>
	<h2>
		Un service irréprochable
	</h2>
	<p>
		Lorem ipsum dolor sit amet consectetur, adipisicing elit. Dolor magnam earum reiciendis totam vitae, mollitia porro voluptates unde nesciunt quibusdam, dolore dignissimos temporibus. Delectus molestiae, eum beatae consequuntur aliquam libero.
	</p>
	<div class="row">
		{% include "shared/_assurance.html.twig" with 
			{
			'color' : 'primary',
			'icon' : 'fas fa-truck',
			'text' : "Lorem ipsum dolor sit amet consectetur adipisicing elit. Repudiandae ipsa fugit ad accusantium saepe reiciendis libero voluptatum dolorum, quaerat, deserunt nesciunt minima cumque eius delectus quibusdam mollitia distinctio neque iure?"
			} 
		%}
		{% include "shared/_assurance.html.twig" with 
			{
			'color' : 'success',
			'icon' : 'fas fa-check',
			'text' : "Lorem ipsum dolor sit amet consectetur adipisicing elit. Repudiandae ipsa fugit ad accusantium saepe reiciendis libero voluptatum dolorum, quaerat, deserunt nesciunt minima cumque eius delectus quibusdam mollitia distinctio neque iure?"
			} 
		%}
		{% include "shared/_assurance.html.twig" with 
			{
			'color' : 'warning',
			'icon' : 'fas fa-lock',
			'text' : "Lorem ipsum dolor sit amet consectetur adipisicing elit. Repudiandae ipsa fugit ad accusantium saepe reiciendis libero voluptatum dolorum, quaerat, deserunt nesciunt minima cumque eius delectus quibusdam mollitia distinctio neque iure?"
			} 
		%}
	</div>

{% endblock %}
