<div class="row">
	<div class="card border-primary mb-3">
		<div class="card-header d-flex justify-content-between align-items-center">
			<h4 class="m-0 font-weight-bold text-primary">
				Liste des produits
			</h4>
			<a href="{{ path("admin_product_create") }}" class="btn btn-success btn-icon-split ml-auto btn-sl">
				<span class="icon text-white-50">
					<i class="fas fa-plus"></i>
				</span>
				<span class="text">
					Ajouter
				</span>
			</a>
		</div>
		<div class="card-body">
			<table id="productTable" class="table table-striped table-bordered" style="width:100%">
				<thead>
					<tr>
						<th class="text-center text-uppercase">
							ID
						</th>
						<th class="text-center text-uppercase">
							Name
						</th>
						<th class="text-center text-uppercase">
							Category
						</th>
						<th class="text-center text-uppercase">
							Picture
						</th>
						<th class="text-center text-uppercase">
							price
						</th>
						<th class="text-center text-uppercase action">
							Actions
						</th>

					</tr>
				</thead>
				<tbody>
					{% for product in products %}
						<tr>
							<td class="text-center align-middle">
								{{product.id}}
							</td>
							<td class="text-center align-middle">
								{{product.name}}
							</td>
							<td class="text-center align-middle">
								{{product.category.name}}
							</td>

							<td class="text-center">
								{% if product.mainPicture %}
									<img src="{{product.mainPicture}}" class="adminlist-image" alt="Image product">
								{% endif %}
							</td>

							<td class="text-center align-middle">
								{{product.price| amount}}
							</td>
							<td class="text-center align-middle">
								<a href="{{ path("product_show", {category_slug:product.category.slug, slug: product.slug}) }}" class="btn btn-primary rounded with-icon">
									<i class="far fa-eye"></i>
								</a>
								<a href="{{ path("admin_product_edit", {id: product.id}) }}" class="btn btn-warning rounded with-icon">
									<i class="far fa-edit"></i>
								</a>
								<form class="d-inline-block confirmation" action="{{ url('admin_product_delete', { id: product.id }) }}" method="post">

									<input type="hidden" name="token" value="{{ csrf_token('delete-product') }}"/>

									<button class="btn btn-danger rounded with-icon" type="submit">
										<i class="far fa-trash-alt"></i>
									</button>

								</form>
							</td>

						</tr>
					{% endfor %}
				</tbody>
			</table>
		</div>
	</div>
</div>
