<nav class="navbar navbar-expand-lg  navbar-dark bg-primary">
	<div class="container-fluid">
		<a class="navbar-brand" href="/">
			SymShop
		</a>
		<button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarColor03" aria-controls="navbarColor03" aria-expanded="false" aria-label="Toggle navigation">
			<span class="navbar-toggler-icon"></span>
		</button>

		<div class="collapse navbar-collapse" id="navbarColor03">
			<ul class="navbar-nav me-auto">
				<li class="nav-item">
					<a class="nav-link active" href="/">
						Home
						<span class="visually-hidden">
							(current)
						</span>
					</a>
				</li>
				{% for category in categoryRepository.findAll() %}
					<li class="nav-item">
						<a class="nav-link" href="{{path('category_show',{'slug' : category.slug})}}">
							{{category.name}}
						</a>
					</li>
				{% endfor %}
			</ul>
			<ul class="navbar-nav">
				<li class="nav-item">
					<a href="{{path('cart_show')}}" class="nav-link">
						<i class="fas fa-shopping-cart"></i>
						Panier (
						{{cartService.total()  | amount}}
						)
					</a>
				</li>
				{% if app.user %}
					<li class="nav-item">
						<a href="{{path('purchase_index')}}" class="nav-link">
							Mes commandes
						</a>
					</li>
					{% if app.user.roles is defined and 'ROLE_ADMIN' in app.user.roles %}
						<li class="nav-item">
							<a href="{{path('admin_home')}}" class="nav-link">
								<i class="fas fa-user-cog"></i>
								Admin area
							</a>
						</li>
					{% endif %}
					<li class="nav-item">
						<a href="{{path('app_logout')}}" class="btn btn-danger">
							Logout
						</a>
					</li>
				{% else %}
					<li class="nav-item mb4">
						<a href="#" class="nav-link">
							Inscription
						</a>
					</li>
					<li class="nav-item">
						<a href="{{path('app_login')}}" class="btn btn-success">
							Login
						</a>

					</li>
				{% endif %}
			</ul>
		</div>
	</div>
</nav>
